
.about-me {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
}
<style type="text/css">
.slide-show-render-full .slide-image {
height: 100%;
max-height: 500px;
max-width: 250px;
}

.slide-show-render-full .slide-content {
height: 500px;
width: 250px;
}
.slide-show-render .slides {
height: 500px;
}

.slide-show-render.slide-show {
height: 500px;
margin: 0 0 20px -60px;
}
.slide-show {
width: 250px;
}
</style>
